
<div>
	<h1>🥹 Are you sure you want to leave us? 🥹</h1>
	<form method="post">
		<button class="btn btn-dark">Yes,I have other adventures to follow</button> | <a asp-action="Index" asp-controller="Home" class="btn btn-secondary">Never! I stay with you!</a>
	</form>
</div>