@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
	@if(sessionManager.ConnectedUser != null){
		<h1 class="display-4">Welcome @sessionManager.ConnectedUser.Pseudo</h1>
	}
	else {
		<h1 class="display-4">Welcome</h1>
	}

</div>
